.resalto {
  color: #2D4530;
  font-family:'Rubik Bubbles',system-ui;
  font-size:40px;
}
/* Navbar */
.logo {
  height: 90px;
  width: 60px;
}
.logo img {
  width: 100%;
  height: 100%;
  background: url(imagenes_originales/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  
}
h1{
    font-family:'Rubik Bubbles',system-ui;
    font: 50px;
}
h2{
  font-family: 'Delius',system-ui;
  font-weight:700;
}
p{
  font-family: 'Delius',system-ui;
  font-size: 20px;
}
.subrayado {
  text-decoration:underline;
  margin-bottom: 2%;
}
.btn{
  background-color: #5c4433;
  border-radius: 5px;
  padding: 5px;
}
.btn:hover{
    background-color: #35261a;

}
.btn a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: 'Delius',system-ui;

}
.btn-cafe {
  width: 15%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.btn-hero{
  width: 15%;
  /* height: 5%; */
  
}

/* Hero */
.hero {
  height: 80vh;
  background-color: #d6d6d6;
  background: url(imagenes_originales/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contenedor-tarjetas{
  display: flex;
  flex-direction: row;
  margin-left:10%;
  margin-right:10%;
}
.tarjeta{
   height: 395px; 
   width:25px; 
    background: #bdbdbd;
    margin: 2px;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;

}
.tarjeta img{
  height: 100%;
  width: 70%;
  padding: 20px;

}
.tarjeta .contenedor-foto{
  display: flex;
  flex-direction: row;
  height: 50%;
  width:  auto;
}
.productos {
  margin-top: 50px;
  margin-bottom: 50px;

}
/* Secciones "Sobre nosotros" */
.img-placeholder {
  /* background-color: #bdbdbd; */
  height: 150px;
  width: 200px;
  display: flex;
  align-items:end;
  justify-content:end;
  font-weight: bold;
  font-size: 1.5rem;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.img-placeholder img{
  /* background-color: #bdbdbd; */
  height: 100%;
  width: 100%;
  margin-right:50px;
  
}
.separadorDecorativo{
  margin-top:50px;
}
.img-separadores {
  /* background-color: #5c4433; */
  height: 150px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;

}
.img-separadores img {
  height: 100%;
  width: 100%;

}
.img-separadores.col{
  flex: 0 0 auto; /* desactiva el crecimiento automático */
  width: auto !important; /* fuerza tu ancho */

}

/* Footer */
.footer-box {
  background-color: #bdbdbd;
  height: 60px;
}
