/* Navbar */
.logo img {
  width: 80px;
  height: 90px;
  background: url(imagenes_originales/logo.png);
  border-radius: 50%;
  
}
h1{
    font-family:'Rubik Bubbles',system-ui;
}
h2{
  font-family: 'Delius',system-ui;
  font-weight:700;
}
p{
  font-family: 'Delius',system-ui;
}
.btn-cafe {
  width: 15%;
  height: 5%;
  background-color: #5c4433;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.btn-cafe a{
  text-decoration: none;
  color: white;
  
}

/* Hero */
.hero {
  height: 80vh;
  background-color: #d6d6d6;
  background: url(imagenes_originales/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Secciones "Sobre nosotros" */
.img-placeholder {
  /* background-color: #bdbdbd; */
  height: 150px;
  width: 200px;
  display: flex;
  align-items:end;
  justify-content:end;
  font-weight: bold;
  font-size: 1.5rem;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.img-placeholder img{
  /* background-color: #bdbdbd; */
  height: 100%;
  width: 100%;
  margin-right:50px;
  
}
.separadorDecorativo{
  margin-top:50px;
}
.img-separadores {
  /* background-color: #5c4433; */
  height: 150px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;

}
.img-separadores img {
  height: 100%;
  width: 100%;

}
.img-separadores.col{
  flex: 0 0 auto; /* desactiva el crecimiento automático */
  width: auto !important; /* fuerza tu ancho */

}

/* Footer */
.footer-box {
  background-color: #bdbdbd;
  height: 60px;
}
