.box{
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    background-color: #ffffff;
}
.resultado{
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    background-color: #ffffff;
}
.box h2{
    margin-top: 0;
    color: #007BFF;
}

body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
    width: 80%;
    max-width: 90%;
    margin: auto;
}
hr{
    height: 5px;
    background:green
}