* {
    margin: 10px;
    margin-top: 0px;
}
/* EJERCICIO 1 */
section > ul > li:first-child {
    color: blueviolet;
}

section > ul > li:nth-child(odd) {
    font-style: italic;
    font-weight: bold;
}
/* EJERCICIO 2 */


/* EJERCICIO 3 */
nav {
    background-color: dimgrey;
    padding: 5px;
}
.menuEjercicioTres ul{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 20px; /*espacio entre elementos*/
}
.menuEjercicioTres li {
    text-decoration: none;
    color: black;
}
.menuEjercicioTres li a:hover {
    color:red;
}

/* EJERCICIO 4 */
/*primer bloque*/
.bloqueAbsoluto  p {
    font-size: 20px;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}
.bloqueAbsoluto h4 {
    margin-left: 20px;
}
/*segundo bloque*/
.bloqueRelativo p {
    font-size:100%;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}
.bloqueRelativo h4 {
    margin-left: 20%;
}

/*EJERCICIO 5*/
.formulario  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formulario input{
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
}
.formulario input[type="email"]{
    background-color: gray;
    border-radius: 30px;
}
