services:
  mysql:
    image: mysql
    ports:
      - 23306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    networks:
      - wpsite
    volumes:
      - ./mysql:/var/lib/mysql
  wordpress:
    image: wordpress:latest
    depends_on:
      - mysql
    ports:
      - "8000:80"
    restart: always
    environment:
      WORDPRESS_DB_ROOT: datebase:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
    volumes:
      - .:/var/www/html
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    networks:
      - wpsite
  phpadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8101:80
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD:
    depends_on:
      - mysql
networks:
  wpsite:
volumes:
  mysql:
